body, html {
    height: 100%;
}

.bg { 
    /* The image used */
    background-image: url("../images/recipe-background.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.bg-yellow {
    /* Background colour of bootstrap nav bar */
    background-color: sienna;
}

/* Padding around the login boxes */
.loginpadding {
    padding: 50px 50px 50px 50px;
}

/* Don't scale the image on the card */
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

/* Dashed border around column */
.column.over {
    border: 2px dashed #000;
}

/* Change selected links background / colour */
.selected {
    background-color: blue;
    color: black;
    font-weight: bold
}

.recipe-ingredients {
    background-color: rgba(42, 96, 212, 0.8);
    border-radius: 10px;
    
}

.recipe-directions {
    background-color: rgba(219, 228, 144, 0.93);
    border-radius: 10px;
    
}

.recipe-description {
    background-color: rgba(235, 151, 112, 0.93);
    border-radius: 10px;
    
}

.container {
    margin-right: auto;
    margin-left: auto;
}

.recipe-padding {
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
}
