body, html {
    height: 100%;
}

.bg { 
    /* The image used */
    background-image: url("../recipe-background.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}