{% extends 'base.html' %}
{% block title %}Graphs{% endblock %}
{% block nav_graphs %}active{% endblock %}
{% block body_attrs %} onload="doload();" {% endblock %}
{% block includes %}
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="{{ url_for('static',filename='js/graphs.js') }}"></script>
{% endblock %}
{% block content %}



<br><br><br>
<div class="text-center">
    <h4>Course Stats:</h4>
    <div id="coursestats"></div><br><br>
    <h4>Allergen Stats:</h4>
    <div id="ingredientstats"></div><br><br>
    <h4>Country Stats:</h4>
    <div id="chart"></div>
</div>
<br><br><br>
{% endblock %}