{% extends 'base.html' %}
{% block title %}Graphs{% endblock %}
{% block nav_graphs %}active{% endblock %}
{% block body_attrs %} onload="doload();" {% endblock %}
{% block includes %}
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="{{ url_for('static',filename='js/graphs.js') }}"></script>
{% endblock %}
{% block content %}



<div class="container graph-page-container">
    <div class="col">
        <h2 class="myfont text-center">Statistic Graphs</h2>
    </div>
    <div class="col">
        <div class="text-center">
            <h4 class="myfont ">Course Statistics:</h4>
            <div id="coursestats"></div><br><br>
            <h4 class="myfont ">Allergen Statistics:</h4>
            <div id="ingredientstats"></div><br><br>
            <h4 class="myfont">Country Statistics:</h4>
            <div id="chart"></div>
        </div>
    </div>
</div>
{% endblock %}