{% extends 'base.html' %}
{% block title %}Recipe List{% endblock %}
{% block nav_rlist %}active{% endblock %}
{% block includes %}
<script src="{{ url_for('static',filename='js/listrecipes.js') }}"></script>
{% endblock %}
{% block content %}


    <!-- Bootstrap row/col grid for listing recipes -->
    <div class="container recipe-list-page-container " >
            <div class="row justify-content-center top-border top-padding">
                    <h2 class="myfont">Search By:</h2>
            </div>
            <div class="row justify-content-center">
                <div class="col">
                    <div id="filter" class="filter-padding">
                        <form action="javascript:searchByCourse();" method="POST">
                            <h5 class="myfont">Course:</h5>
                            <input type="text" name="course" id="course">
                            <input type="submit" value="Search" class="btn btn-primary myfont">
                        </form>
                    </div>
                </div>
                <div class="col">
                    <div id="filter" class="filter-padding">
                        <form action="javascript:searchByIngredient();" method="POST">
                            <h5 class="myfont" >Ingredient:</h5>
                            <input type="text" name="ingredient" id="ingredient">
                            <input type="submit" value="Search" class="btn btn-success myfont">
                        </form>
                    </div>
                </div>
                <div class="col">
                    <div id="filter" class="filter-padding">
                        <form action="javascript:searchByAllergen();" method="POST">
                            <h5 class="myfont">Exclude Allergen:</h5>
                            <input type="text" name="allergen"  id="allergen">
                            <input type="submit" value="Search" class="btn btn-info myfont">
                        </form>
                    </div>
                </div>
            </div>


            <div class="row justify-content-center top-border top-padding">
                <h2 class="myfont">Recipes</h2>
            </div>
            <div class="row justify-content-center">
                
                <div class="recipes" id="recipes" style="padding:20px">
                    <div class="row">

                        {% for x in recipes %}
                        <!-- Use bootstrap cards -->
                            <div class="col mb-3">
                                <div class="card" style="width: 18rem;">
                                    <img class="card-img-top" src="static/images/{% print x.image %}" height="10%" width="10%">
                                    <div class="card-body">
                                        <h5 class="card-title myfont">{% print x.name %}</h5>
                                        <p class="card-text myfont">A {% print x.course %} {% print x.country %} dish </p>
                                        <a href="recipe?id={% print x.id %}" class="myfont btn btn-primary">View Recipe</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                 </div>
            </div>

        
        
        
        
    

{% endblock %}
