{% extends 'base.html' %}
{% block title %}Recipe{% endblock %}
{% block includes %}
<script>
    
        recipeName = "{% print recipe.name %}";
        recipeAuthor = "{% print recipe.author %}";
        recipeViews = "{% print recipe.views %}";
        recipeCourse = "{% print recipe.course %}";
        recipeCountry = "{% print recipe.country %}";
        recipeId = "{% print recipe.id %}";
        recipeImage = "{% print recipe.image %}";
</script>

<script src="{{ url_for('static',filename='js/recipe.js') }}"></script>
{% endblock %}
{% block content %}


    <!-- Bootstrap container for col/row grid -->
    <div class="container recipe-page-container">
        
        <button type="button" class="btn btn-primary myfont" id="editbutton" onclick="makeEditable()">Edit</button>
        <button type="button" class="btn btn-primary myfont" id="savebutton" onclick="saveAll()" disabled>Save</button>
        <button type="button" class="btn btn-primary myfont" id="deletebutton" onclick="deleterecipe()">Delete</button>
        
        
        <div class="container">
        <div class="row justify-content-center">
            <div class="col m-2 justify-content-center">
                <div class="recipe-padding">
                    <div id="editing"></div>
                    <br>
                    <h2 class="myfont text-center">{% print recipe.name %}</h2>
                    
                    <h5 class="myfont">Course: {% print recipe.course %}</h5>
                    <div id="courseform"></div>
                    <h5 class="myfont">Country: {% print recipe.country %}</h5>
                    <div id="countryform"></div>
                    <h5 class="myfont">Author: {% print recipe.author %}</h5>
                    <h5 class="myfont">Views: {% print recipe.views %}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col p-2">
                    <img src="static/images/{% print recipe.image %}" />
            </div>
        
            <div class="col recipe-ingredients recipe-padding m-2">
                <h5> Ingredient List:</h5>
                    <table class="ingredients" id="ingredients" style="padding:20px">
                        <tr>
                                <th class="myfont">Ingredient</th>
                                <th class="myfont">Amount</th> 
                                <th class="myfont">Allergen</th>
                        </tr>
                        {% for y in recipe.ingredients %}
                        <tr>
                            <td  class="myfont table-padding">{% print y.name %}</td>
                            <td  class="myfont table-padding">{% print y.amount %}</td>
                            <td  class="myfont table-padding">{% print y.allergen %}</td>
                        </tr>
                        {% endfor %}
                </table>
                <div id="ingredientform" class="row"></div>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col recipe-directions m-2">
                
                <h5>Directions:</h5>
                <table class="directions recipe-padding" id="directions" style="padding:20px">
                    {% for y in recipe.directions %}
                    <tr draggable="true" class="column">
                        <td class="myfont table-padding">{% print y.number %}</td>
                        <td class="myfont table-padding">{% print y.text %}</td>
                    </tr>
                    {% endfor %}
                </table>

                <div id="directionform" class="row"></div>
            </div>

        </div>
    </div>
    </div>

{% endblock %}
